.back {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .85);
  opacity: 0;
  transition: opacity .3s;
}
.back:not(.open) {
  pointer-events: none;
}
.back.open {
  opacity: 1;
}
.fore {
  background-color: #fff;
  min-width: 1rem;
  min-height: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100vh);
  transition: transform .3s;
}
.back.open .fore {
  transform: translate(-50%, -50%);
}