.root {
  position: relative;
  border: 1px solid black;
  border-radius: 3px;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.normal {
  padding: 0 .25rem;
  transition: color .3s, background-color .3s;
  display: block;
}
.reveal[data-corner] { position: fixed; }
.reveal[data-corner="1"] { top: 0; left: 0; }
.reveal[data-corner="2"] { top: 0; right: 0; }
.reveal[data-corner="3"] { bottom: 0; right:0; }
.reveal[data-corner="4"] { bottom: 0; left: 0; }
.reveal:not([data-corner]) { top: calc(-50%); left: calc(100%); }
.reveal {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  border: 1px solid black;
  border-radius: 3px;
  background: white;
  white-space: nowrap;
  font-style: italic;
  font-size: .8em;
  padding: .5rem;
  z-index: 1;
}
.root:hover .normal {
  color: white;
  background: black;
}
.root:hover .reveal {
  opacity: 1;
  pointer-events: initial;
}
.root:not(:hover) .reveal {
  display: none;
}